{% extends "home_base.html" %}

{% load static_url %}
{% block local_css %}
    
{% endblock %}

{% block top_right %}

{% endblock %} 

{% block content %}
<section id="App">
</section>

{% endblock %}

{% block local_js_footer %}
    <link rel="stylesheet" href={% static_url "user/css/page/home.css" %}>    
    <script type="text/javascript" src={% static_url "user/js/page/home.js" %}></script>
    <script type="text/javascript" src={% static_url "user/js/db.js" %}></script>
    <script>

        var pages = new Pages("#App");
        pages.home();

        Kakao.init(kakao_nav_ak);

        console.log("loc", location.href)

        let location_href = location.href;
        console.log("111",location_href.split("?").length)
        if(location_href.split("?").length >= 2){
            pages.map();
        }


        // history.replaceState(null, null, '#home');
        // window.addEventListener("hashchange", function(e){
        //     if(layer_popup.stack.length > 0){
        //         layer_popup.close_layer_popup();
        //     }
        //     pages.home();
        // });

        // window.addEventListener("onbeforeunload", (e)=>{

        // })

    </script>
{% endblock %}